/* ============================== Desktop Version ============================== */
#mainAppContainer {
  background-image: url(../images/background_highres.webp);
  background-size: cover;
  background-repeat: no-repeat;
  height: 1000px;
  width: 100%;
}
/* -------------------------------- TopMenu -------------------------------- */
#menuContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2b3d4f;
  height: 100px;
}

#topMenuTitle {
  float: left;
  color: #CB9D4E;
  font-size: 45px;
  padding-left: 0.7em;
  text-shadow: 0.5px 0.5px black;
}

.topMenuText {
  display: flex;
  float: right;
  flex-direction: row;
  color: #CB9D4E;
  font-size: 25px;
  text-shadow: 0.5px 0.5px black;
  padding-right: 1em;
}
/* ------------------------------------------------------------------------- */

/* ------------------------------- Home Page ------------------------------- */
#carouselContainer {
  box-shadow: 5px 6px 10px rgb(30, 30, 30, 0.8);
  background-color: white;
  width: 73%;
  height: 100%;
  margin: 0 auto;
  z-index: 1;
  position: relative;
  margin-top: 5em;
  margin-bottom: 7em;
}

#carouselSubContainer {
  align-items: center;
  padding: 30px;
}

#homePhotoContainer {

}

.frontPagePhoto1 {
  border-style: solid;
  border-width: 2px;
  border-color: #303030;
}

.frontPagePhoto2 {
  border-style: solid;
  border-width: 2px;
  border-color: #303030;
}

.frontPagePhoto3 {
  border-style: solid;
  border-width: 2px;
  border-color: #303030;
}

.frontPageImage {
  max-width: 1000px;
}

#whiteTextArea {
  background-color: white;
  margin-top: 150px;
  height: 250px;
}

#carouselContainer2 {
  box-shadow: 5px 6px 10px rgb(30, 30, 30, 0.8);
  background-color: white;
  width: 60%;
  height: 100%;
  margin: 0 auto;
  z-index: 1;
  position: relative;
  top: 3.25em;
}

#carouselSubContainer2 {
  align-items: center;
  padding: 30px;
}

#homePhotoContainer2 {
  position: relative;
}

.frontBottomPagePhoto1 {
  border-style: solid;
  border-width: 2px;
  border-color: #303030;
}

.frontBottomPagePhoto2 {
  border-style: solid;
  border-width: 2px;
  border-color: #303030;
}

.frontBottomPagePhoto3 {
  border-style: solid;
  border-width: 2px;
  border-color: #303030;
}

.homeBottomPhotoText {
  position: absolute;
  background-color: rgb(0, 0, 0, 0.7);
  background-size: 200px 200px;
  font-size: 15px;
  color: white;
  bottom: 0px;
  right: 0px;

}
/* ------------------------------------------------------------------------- */

/* ----------------------------- About Us Page ----------------------------- */
#aboutUsContainer {
  display: block;
  overflow: auto;
  background-color: white;
  box-shadow: 5px 6px 10px rgb(0, 0, 0, 0.8);
  width: 80%;
  margin: 0 auto;
  z-index: 1;
  position: relative;
  top: -7.5em;
}

#aboutUsPhotoContainer {
  padding-top: 5em;
  display: flex;
  justify-content: center;
  z-index: 2;
  position: sticky;
}

#aboutUsPhoto {
  max-height: 400px;
  box-shadow: 2px 3px 3px rgb(0, 0, 0, 0.8);
  width: 25em;
  border-style: solid;
  border-width: 0.3em;
  border-color: black;
}

#aboutUsWhiteContainer {
  display: inline-block;
  width: 95%;
  height: 500px;
}


#aboutmeText {
  display: inline-block;
  text-align: left;
  max-width: 100%;
  font-size: 20px;
  position: relative;
  top: 4.25em;
}
/* ------------------------------------------------------------------------- */

/* ---------------------------- Contact Us Page ---------------------------- */
#contactUsContainer {
  display: block;
  overflow: auto;
  background-color: white;
  box-shadow: 5px 6px 10px rgb(30, 30, 30, 0.8);
  width: 80%;
  margin: 0 auto;
  z-index: 1;
  position: relative;
  margin-top: 5em;
}

#contactUsSubContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}

#contactUsTitle {
  display: flex;
  justify-content: center;
  padding-top: 2em;
}

#contactForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#contactPhotoContainer {
  float: right;
}

#contactPhoto {
  max-height: 400px;
}

#contactName {
  font-size: 20px;
  padding-bottom: 1.5em;
  min-width: 325px;
}

#contactEmail {
  font-size: 20px;
  padding-bottom: 1.5em;
  min-width: 325px;
}

#contactPhone {
  font-size: 20px;
  padding-bottom: 1.5em;
  min-width: 325px;
}

#contactMessage {
  display: flex;
  align-items: baseline;
  font-size: 20px;
  padding-bottom: 1.5em;
  min-width: 325px;
}

#contactSubmit {
  font-size: 20px;
}
/* ------------------------------------------------------------------------- */

/* -------------------------------- Career -------------------------------- */
#careerContainer {
  display: block;
  background-color: white;
  box-shadow: 5px 6px 10px rgb(30, 30, 30, 0.8);
  width: 80%;
  margin: 0 auto;
  z-index: 1;
  position: relative;
  margin-top: 5em;
  margin-bottom: 22em;
}

#careerTitle {
  display: flex;
  justify-content: center;
  padding-top: 2em;
}

#careerSubContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}

#careerForm {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}

#careerPhotoContainer {
}

#careerPhoto {
  max-height: 400px;
}

#careerFormLeftSide {
  display: flex;
  flex-direction: column;
  padding-right: 10px;
}

#careerName {
  font-size: 20px;
  padding-bottom: 1.5em;
}

#careerEmail {
  font-size: 20px;
  padding-bottom: 1.5em;
}

#careerPhone {
  font-size: 20px;
  padding-bottom: 1.5em;
}

#careerFormRightSide {
  display: flex;
  flex-direction: column;
  padding-left: 100px;
}

#careerResume {
  font-size: 20px;
  padding-bottom: 1.5em;
}

#careerMessage {
  font-size: 20px;
  padding-bottom: 1.5em;
  display: flex;
  align-items: baseline;
}

#careerSubmit {
  width: 320px;
  font-size: 20px;
  bottom: 10px;
}
/* ------------------------------------------------------------------------- */

/* -------------------------------- Footer -------------------------------- */
#footerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  background-color: black;
  bottom: 0;
}

#footerTitle {
  float: left;
  color: white;
  font-size: 22px;
  padding-left: 1em;

}

.footerText {
  float: right;
  font-size: 15px;
  color: white;
  padding-right: 1em;
}
/* ------------------------------------------------------------------------- */

/* ============================================================================ */


/* ============================== Tablet Version ============================== */
@media (min-width: 426px) and (max-width: 768px) {

/* -------------------------------- TopMenu -------------------------------- */
#menuContainer {

}

#topMenuTitle {
  font-size: 30px;
  padding-left: 0.7em;
}

.topMenuText {
  display: flex;
  flex-direction: row-reverse;
  font-size: 17px;
  text-shadow: 0.5px 0.5px black;
  padding-right: 0.7em;
}
/* ------------------------------------------------------------------------- */

/* ------------------------------- Home Page ------------------------------- */

/* ------------------------------------------------------------------------- */

/* ----------------------------- About Us Page ----------------------------- */
#aboutUsContainer{

}

#aboutUsSubContainer {

}
/* ------------------------------------------------------------------------- */

/* ---------------------------- Contact Us Page ---------------------------- */

/* ------------------------------------------------------------------------- */

/* -------------------------------- Career -------------------------------- */

/* ------------------------------------------------------------------------- */

/* -------------------------------- Footer -------------------------------- */
#footerContainer {

}
/* ------------------------------------------------------------------------- */

}
/* ============================================================================ */


/* ============================== Mobile Version ============================== */
@media (max-width: 426px) {

#mainAppContainer {
  background-image: url(../images/kitchen-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 100%;
  height: 750px;
}
/* -------------------------------- TopMenu -------------------------------- */
#menuContainer {

}

#topMenuTitle {
  float: left;
  color: #d89961;
  font-size: 25px;
  padding-left: 0.5em;
  max-height: 80px;
  max-width: 250px;
}

#topMenuTextContainer {
  display: flex;
  flex-direction: column-reverse;
  padding-right: 0em;
  padding-bottom: 0.5em;
  width: 100px;
}

.topMenuText {
  float: none;
  font-size: 15px;
  padding: 0.5em 0.5em 0 0;
}
/* ------------------------------------------------------------------------- */

/* ------------------------------- Home Page ------------------------------- */
#carouselContainer {
  box-shadow: 5px 6px 10px rgb(30, 30, 30, 0.8);
  background-color: white;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  z-index: 1;
  position: relative;
  margin-top: 5em;
  margin-bottom: 7em;
}

#carouselSubContainer {
  align-items: center;
  padding: 10px;
}

#homePhotoContainer {

}

.frontPagePhoto1 {
  border-style: solid;
  border-width: 2px;
  border-color: #303030;
}

.frontPagePhoto2 {
  border-style: solid;
  border-width: 2px;
  border-color: #303030;
}

.frontPagePhoto3 {
  border-style: solid;
  border-width: 2px;
  border-color: #303030;
}

.frontPageImage {
  max-width: 1000px;
}

#whiteTextArea {
  background-color: white;
  margin-top: 150px;
  height: 250px;
}

#carouselContainer2 {
  box-shadow: 5px 6px 10px rgb(30, 30, 30, 0.8);
  background-color: white;
  width: 60%;
  height: 100%;
  margin: 0 auto;
  z-index: 1;
  position: relative;
  top: 3.25em;
}

#carouselSubContainer2 {
  align-items: center;
  padding: 30px;
}

#homePhotoContainer2 {
  position: relative;
}

.frontBottomPagePhoto1 {
  border-style: solid;
  border-width: 2px;
  border-color: #303030;
}

.frontBottomPagePhoto2 {
  border-style: solid;
  border-width: 2px;
  border-color: #303030;
}

.frontBottomPagePhoto3 {
  border-style: solid;
  border-width: 2px;
  border-color: #303030;
}

.homeBottomPhotoText {
  position: absolute;
  background-color: rgb(0, 0, 0, 0.7);
  background-size: 200px 200px;
  font-size: 15px;
  color: white;
  bottom: 0px;
  right: 0px;

}
/* ------------------------------------------------------------------------- */

/* ----------------------------- About Us Page ----------------------------- */
#aboutUsContainer {
  width: 90%;
}

#aboutUsPhotoContainer {
  padding-top: 5em;
  display: flex;
  justify-content: center;
  z-index: 2;
  position: sticky;
}

#aboutUsPhoto {
  max-height: 100%;
  max-width: 225px;
}

#aboutUsWhiteContainer {
  width: 95%;
  height: 300px;
}

#aboutmeText {
  max-width: 100%;
  font-size: 20px;
  position: relative;
  top: 4.25em;
}
/* ------------------------------------------------------------------------- */

/* ---------------------------- Contact Us Page ---------------------------- */
#contactUsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  width: 90%;
  margin: 0 auto;
  z-index: 1;
  position: relative;
  top: 5.25em;
  margin-bottom: 0em;
}

#contactUsSubContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

#contactForm {
  padding-bottom: 10px;
}

#contactTitleContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#contactUsTitle {
  display: flex;
  justify-content: center;
  font-size: 15px;
  padding-top: 2em;
  max-width: 85%;
}

#contactPhotoContainer {

}

#contactPhoto {
  max-height: 200px;
}

#contactName {
  font-size: 15px;
  padding-bottom: 0.5em;
}

#contactEmail {
  font-size: 15px;
  padding-bottom: 0.5em;
}

#contactPhone {
  font-size: 15px;
  padding-bottom: 0.5em;
}

#contactMessage {
  font-size: 15px;
  padding-bottom: 0.5em;
}

#contactSubmit {

  font-size: 15px;
}
/* ------------------------------------------------------------------------- */

/* -------------------------------- Career -------------------------------- */
#careerContainer {
  display: block;
  background-color: white;
  box-shadow: 5px 6px 10px rgb(30, 30, 30, 0.8);
  width: 90%;
  margin: 0 auto;
  z-index: 1;
  position: relative;
  margin-top: 5em;
  margin-bottom: 22em;
}

#careerTitleContainer {
  display: flex;
  justify-content: center;
}

#careerTitle {
  font-size: 20px;
}

#careerSubContainer {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

#careerForm {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

#careerPhotoContainer {
}

#careerPhoto {
  max-height: 400px;
}

#careerFormLeftSide {

}

#careerName {
  font-size: 15px;
  padding-bottom: 0.5em;
}

#careerEmail {
  font-size: 15px;
  padding-bottom: 0.5em;
}

#careerPhone {
  font-size: 15px;
  padding-bottom: 0.5em;
}

#careerFormRightSide {
  display: flex;
  align-items: center;
  padding-left: 50px;
}

#careerResume {
  font-size: 15px;
  padding-bottom: 0.5em;
}

#careerMessage {
  font-size: 15px;
  padding-bottom: 0.5em;
}

#careerSubmit {
  max-width: 200px;
  font-size: 15px;
  bottom: 10px;
}

/* ------------------------------------------------------------------------- */

/* -------------------------------- Footer -------------------------------- */
#footerContainer {

}

#footerTitle {
  float: left;
  color: white;
  font-size: 15px;
  padding-left: 0.5em;
}

#footerNavContainer {
  display: flex;
  flex-flow: wrap-reverse;
  float: right;
  max-height: 50px;
  width: 125px;
  padding-right: 0.4em;
}

.footerText {
  font-size: 10px;
  color: white;
  padding-right: 0.5em;
}
/* ------------------------------------------------------------------------- */

}
/* ============================================================================ */
