/* ============================== Desktop Version ============================== */
#mainAppContainer {
  background: url(../images/backgroundFull.jpg) no-repeat center;
  background-size: cover;
  height: 1000px;
  width: 100%;
}

#blackLayer {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1000px;
}
/* -------------------------------- TopMenu -------------------------------- */
#menuContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2b3d4f;
  box-shadow: 1px 2px 10px rgb(0, 0, 0, 0.6);
  height: 100px;
}

#topMenuLogoContainer {
  display: flex;
  flex-direction: row;
  padding-top: 40px;
}

#topMenuLogo {
  max-height: 150px;
  color: #CB9D4E;
}

#topMenuTitle {
  font-family: 'Roboto Slab', serif;
  float: left;
  color: #ffffff;
  font-size: 3em;
  padding-top: 5px;
  padding-left: 0em;
  text-shadow: 0.5px 0.5px black;
}

.topMenuText {
  font-family: 'Roboto Slab', serif;
  display: flex;
  float: right;
  flex-direction: row;
  color: #ffffff;
  font-size: 32px;
  text-shadow: 0.5px 0.5px black;
  padding-right: 1em;
}
/* ------------------------------------------------------------------------- */

/* ------------------------------- Home Page ------------------------------- */
#homeMainContainer {

}

#quoteContainer {
  display: flex;
  align-items: center;
  margin-top: 1.5em;
}

#carouselContainer {
  box-shadow: 5px 6px 10px rgb(30, 30, 30, 0.8);
  background-color: white;
  width: 73%;
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  z-index: 1;
  position: relative;
  margin-top: 3em;
  margin-bottom: 7em;
}

#carouselSubContainer {
  align-items: center;
  padding: 30px;
  max-width: 100%;
}

#homePhotoContainer {

}

.frontPagePhoto1 {
  border-style: solid;
  border-width: 2px;
  border-color: #303030;
}

.frontPagePhoto2 {
  border-style: solid;
  border-width: 2px;
  border-color: #303030;
}

.frontPagePhoto3 {
  border-style: solid;
  border-width: 2px;
  border-color: #303030;
}

.frontPagePhoto4 {
  border-style: solid;
  border-width: 2px;
  border-color: #303030;
}

.frontPagePhoto5 {
  border-style: solid;
  border-width: 2px;
  border-color: #303030;
}

.frontPagePhoto6 {
  border-style: solid;
  border-width: 2px;
  border-color: #303030;
}

.frontPagePhoto7 {
  border-style: solid;
  border-width: 2px;
  border-color: #303030;
}

.frontPageImage {
  max-width: 1000px;
}

#blackDividerArea {
  background-color: black;
  margin-top: 140px;
  height: 5px;
}

#bottomBackground {
  background-image: url(../images/kitchen_for_bottom_of_page.jpg);
  background-size: cover;
  height: 900px;
}

#blackLayerBottom {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 0;
  width: 100%;
  height: 900px;
}

#carouselContainer2 {
  box-shadow: 5px 6px 10px rgb(30, 30, 30, 0.8);
  background-color: white;
  width: 60%;
  max-width: 900px;
  margin: 0 auto;
  z-index: 1;
  position: relative;
  top: 10.25em;
}

#carouselSubContainer2 {
  align-items: center;
  padding: 20px;
}

#homePhotoContainer2 {
  position: relative;
}

.homeBottomPhotoText {
  display: none;
  font-family: 'Marck Script', cursive, 'Roboto Condensed', sans-serif;
  position: absolute;
  background-color: rgb(0, 0, 0, 0.7);
  background-size: 200px 200px;
  padding: 5px 35px;
  font-size: 40px;
  color: white;
  bottom: 25px;
  left: 2px;
}
/* ------------------------------------------------------------------------- */

/* ----------------------------- About Us Page ----------------------------- */
#aboutUsContainer {
  display: block;
  overflow: auto;
  background-color: white;
  box-shadow: 5px 6px 10px rgb(0, 0, 0, 0.8);
  width: 80%;
  margin: 0 auto;
  z-index: 1;
  position: relative;
  top: -22em;
}

#aboutUsPhotoContainer {
  padding-top: 13em;
  padding-left: 5em;
  display: flex;
  flex-direction: row;
  z-index: 2;
  position: sticky;
}

#aboutUsPhoto {
  box-shadow: 2px 3px 3px rgb(0, 0, 0, 0.8);
  width: 15em;
  height: 20em;
  border-style: solid;
  border-width: 0.3em;
  border-color: black;
}

#aboutUsWhiteContainer {
  display: inline-block;
  text-align: right;
  width: 95%;
  height: 360px;
}

#aboutUsText {
  display: inline-block;
  text-align: center;
  max-width: 85%;
  font-size: 23px;
  position: relative;
  top: 3em;
  padding-bottom: 1em;
}
/* ------------------------------------------------------------------------- */

/* ---------------------------- Testimonials ------------------------------ */
#testimonialContainer {
  display: block;
  overflow: auto;
  background-color: white;
  border-radius: 14px;
  box-shadow: 5px 6px 10px rgb(0, 0, 0, 0.8);
  width: 70%;
  margin: 0 auto;
  z-index: 1;
  position: relative;
  top: 7em;
}

#testimonialWhiteContainer {
  display: inline-block;
  width: 100%;
  height: auto;
}

#quoteContainer {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

#quoteText {
  font-family: 'Roboto', sans-serif;
}

#quoteName {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  align-self: center;
}
/* ------------------------------------------------------------------------- */

/* ---------------------------- Contact Us Page ---------------------------- */
#contactUsContainer {
  display: block;
  overflow: auto;
  background-color: white;
  box-shadow: 5px 6px 10px rgb(30, 30, 30, 0.8);
  width: 80%;
  margin: 0 auto;
  z-index: 1;
  position: relative;
  margin-top: 5em;
}

#contactUsSubContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}

#contactUsTitle {
  display: flex;
  justify-content: center;
  padding-top: 2em;
}

#contactFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#contactUsPhotoContainer {
  float: right;
}

#contactUsPhoto {
  max-height: 400px;
}

#contactUsBasicInfoContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px 0 0 0;
  padding-bottom: 0;
}

#contactUsPhoneContainer {
  display: flex;
  flex-direction: row;
  font-size: 21px;
}

#contactUsPhone {
  font-size: 21px;
  color: #2B3D4F;
}

#contactUsPhone:hover {
  color: #CB9D4E;
}

#contactUsEmailContainer {
  display: flex;
  flex-direction: row;
  font-size: 21px;
}

#contactUsEmail {
  font-size: 21px;
  color: #2B3D4F;
}

#contactUsEmail:hover {
  color: #CB9D4E;
}

#contactForm {

}

#contactNameContainer {
  font-size: 20px;
  padding-bottom: 0.5em;
  display: flex;
  flex-direction: row;
}

#contactName {
  font-size: 20px;
  margin-bottom: 0.7em;
  min-width: 225px;
}

#contactEmailContainer {
  font-size: 20px;
  padding-bottom: 0.5em;
  display: flex;
  flex-direction: row;
}

#contactEmail {
  font-size: 20px;
  margin-bottom: 0.7em;
  min-width: 225px;
}

#contactPhoneContainer {
  font-size: 20px;
  padding-bottom: 0.5em;
  display: flex;
  flex-direction: row;
}

#contactPhone {
  font-size: 20px;
  margin-bottom: 0.7em;
  min-width: 225px;
}

#contactMessageContainer {
  font-size: 20px;
  padding-bottom: 0.5em;
  display: flex;
  flex-direction: row;
}

#contactMessage {
  display: flex;
  align-items: baseline;
  font-size: 20px;
  margin-bottom: 0.7em;
  min-width: 225px;
}

#contactSubmit {
  font-size: 20px;
}

#contactFieldContainer {
  justify-content: space-between;
}

#contactFieldLoading {
  display: flex;
  flex-wrap: row wrap;
  font-size: 17px;
  margin-left: 30px;
}

#contactFieldError {
  display: flex;
  flex-wrap: row wrap;
  font-size: 17px;
  margin-left: 0px;
}

#contactFieldSuccess {
  display: flex;
  flex-wrap: row wrap;
  font-size: 17px;
  margin-left: 0px;
}
/* ------------------------------------------------------------------------- */

/* -------------------------------- Career -------------------------------- */
#careerContainer {
  display: block;
  background-color: white;
  box-shadow: 5px 6px 10px rgb(30, 30, 30, 0.8);
  width: 80%;
  margin: 0 auto;
  z-index: 1;
  position: relative;
  margin-top: 5em;
  margin-bottom: 22em;
}

#careerTitle {
  display: flex;
  justify-content: center;
  padding-top: 2em;
}

#careerSubContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}

#careerForm {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}

#careerPhotoContainer {

}

#careerPhoto {
  max-height: 400px;
}


#careersForm {

}

#careerFormLeftSide {
  display: flex;
  flex-direction: column;
  padding-right: 10px;
}

#careerName {

}

#careerNameContainer {
  font-size: 20px;
  padding-bottom: 1.5em;
}

#careerEmail {

}

#careerEmailContainer {
  font-size: 20px;
  padding-bottom: 1.5em;
}

#careerPhone {

}

#careerPhoneContainer {
  font-size: 20px;
  padding-bottom: 1.5em;
}

#careerFormRightSide {
  display: flex;
  flex-direction: column;
  padding-left: 100px;
}

#careerResume {

}

#careerResumeContainer {
  font-size: 20px;
  padding-bottom: 1.5em;
}

#careerMessage {

}

#careerMessageContainer {
  font-size: 20px;
  padding-bottom: 1.5em;
  display: flex;
  align-items: baseline;
}

#careerSubmit {
  width: 320px;
  font-size: 20px;
  bottom: 10px;
}

#contactSubmit {
  font-size: 20px;
}

#careersFieldContainer {
  width: 100%;
}

#careersFieldLoading {
  display: flex;
  flex-wrap: row wrap;
  font-size: 17px;
  margin-left: 30px;
}

#careersFieldError {
  display: flex;
  flex-wrap: row wrap;
  font-size: 17px;
  margin-left: 0px;
}

#careersFieldSuccess {
  display: flex;
  flex-wrap: row wrap;
  font-size: 17px;
  margin-left: 0px;
}
/* ------------------------------------------------------------------------- */

/* -------------------------------- Footer -------------------------------- */
#footerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  background-color: black;
  bottom: 0px;
}

#footerLogoContainer {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

#footerLogo {
  max-height: 42px;
}

#footerTitle {
  font-family: 'Roboto Slab', serif;
  float: left;
  color: white;
  font-size: 22px;
  padding-left: 1em;

}

.footerText {
  font-family: 'Roboto Slab', serif;
  float: right;
  font-size: 15px;
  color: white;
  padding-right: 1em;
}
/* ------------------------------------------------------------------------- */

#bottomMenuMainContainer {
  display: none;
}

/* ============================================================================ */


/* ============================== Tablet Version ============================== */
@media (min-width: 465px) and (max-width: 768px) {

/* -------------------------------- TopMenu -------------------------------- */
#menuContainer {

}

#topMenuTitle {
  font-size: 30px;
  padding-left: 0.7em;
}

.topMenuText {
  display: flex;
  flex-direction: row-reverse;
  font-size: 17px;
  text-shadow: 0.5px 0.5px black;
  padding-right: 0.7em;
}
/* ------------------------------------------------------------------------- */

/* ------------------------------- Home Page ------------------------------- */

/* ------------------------------------------------------------------------- */

/* ----------------------------- About Us Page ----------------------------- */
#aboutUsContainer{

}

#aboutUsSubContainer {

}
/* ------------------------------------------------------------------------- */

/* ---------------------------- Testimonials ------------------------------ */

/* ------------------------------------------------------------------------- */

/* ---------------------------- Contact Us Page ---------------------------- */

/* ------------------------------------------------------------------------- */

/* -------------------------------- Career -------------------------------- */

/* ------------------------------------------------------------------------- */

/* -------------------------------- Footer -------------------------------- */
#footerContainer {

}
/* ------------------------------------------------------------------------- */

}
/* ============================================================================ */


/* ============================== Mobile Version ============================== */
@media (max-width: 465px) {

#mainAppContainer {
  background-image: url(../images/backgroundMobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 950px;
  max-height: 100%;
  max-width: 425px;
}
/* -------------------------------- TopMenu -------------------------------- */
#menuContainer {
  justify-content: center;
}

#topMenuLogoContainer {
  display: flex;
  flex-direction: row;
  padding-top: 15px;
}

#topMenuLogo {
  max-height: 127px;
  color: #CB9D4E;
}

#topMenuTitle {
  display: none;
  float: left;
  color: #d89961;
  font-size: 33px;
  padding-left: 0.3em;
}

/*
  font-size: 25px;
  max-height: 80px;
  max-width: 250px;
*/

#topMenuTextContainer {
  display: none;
}

/*
  flex-direction: column-reverse;
  padding-right: 0em;
  padding-bottom: 0.5em;
  width: 100px;
*/

.topMenuText {
  float: none;
  font-size: 15px;
  padding: 0.5em 0.5em 0 0;
}
/* ------------------------------------------------------------------------- */

/* ------------------------------- Home Page ------------------------------- */
#quoteContainer {
  display: flex;
  justify-content: center;
  margin-top: 3em;
}

#carouselContainer {
  box-shadow: 5px 6px 10px rgb(30, 30, 30, 0.8);
  background-color: white;
  width: 95%;
  height: 100%;
  margin: 0 auto;
  z-index: 1;
  position: relative;
  margin-top: 3.5em;
  margin-bottom: 5em;
}

#carouselSubContainer {
  align-items: center;
  padding: 10px;
}

#homePhotoContainer {

}

.frontPagePhoto1 {
  border-style: solid;
  border-width: 2px;
  border-color: #303030;
}

.frontPagePhoto2 {
  border-style: solid;
  border-width: 2px;
  border-color: #303030;
}

.frontPagePhoto3 {
  border-style: solid;
  border-width: 2px;
  border-color: #303030;
}

.frontPageImage {
  max-width: 1000px;
}

#blackDividerArea {
  display: none;
  background-color: black;
  margin-top: 140px;
  height: 10px;
}

#bottomBackground {
  display: none;
  background-size: cover;
  height: 600px;
}

#carouselContainer2 {
  box-shadow: 5px 6px 10px rgb(30, 30, 30, 0.8);
  background-color: white;
  width: 85%;
  margin: 0 auto;
  z-index: 1;
  position: relative;
  top: -20em;
}

#carouselSubContainer2 {
  align-items: center;
  padding: 10px;
}

#homePhotoContainer2 {
  position: relative;
}

.frontBottomPagePhoto1 {
  border-style: solid;
  border-width: 2px;
  border-color: #303030;
}

.frontBottomPagePhoto2 {
  border-style: solid;
  border-width: 2px;
  border-color: #303030;
}

.frontBottomPagePhoto3 {
  border-style: solid;
  border-width: 2px;
  border-color: #303030;
}

.homeBottomPhotoText {
  position: absolute;
  background-color: rgb(0, 0, 0, 0.7);
  background-size: 200px 200px;
  font-size: 20px;
  color: white;
  bottom: 0px;
  right: 0px;
}
/* ------------------------------------------------------------------------- */

/* ----------------------------- About Us Page ----------------------------- */
#aboutUsContainer {
  width: 90%;
  top: -4.5em;
}

#aboutUsPhotoContainer {
  padding-top: 5em;
  padding-left: 0em;
  display: flex;
  justify-content: center;
  z-index: 2;
  position: sticky;
}

#aboutUsPhoto {
  max-width: 180px;
  max-height: 250px;
}

#aboutUsWhiteContainer {
  width: 95%;
  height: 100%;
  height: 525px;
}

#aboutUsText {
  padding-bottom: 10px;
  max-width: 95%;
  font-size: 20px;
  position: relative;
  top: 4.25em;
}
/* ------------------------------------------------------------------------- */

/* ---------------------------- Testimonials ------------------------------ */
#testimonialContainer {
  box-shadow: 5px 6px 10px rgb(0, 0, 0, 0.8);
  width: 95%;
  margin: 0 auto;
  z-index: 1;
  position: relative;
  top: 5em;
}

#testimonialWhiteContainer {
  display: inline-block;
  width: 100%;
  height: 300px;
}

#quoteContainer {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

#quoteText {
  font-family: 'Roboto', sans-serif;
}

#quoteName {
  font-family: 'Roboto', sans-serif;
  align-self: center;
}
/* ------------------------------------------------------------------------- */

/* ---------------------------- Contact Us Page ---------------------------- */
#contactUsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  top: 5.25em;
  margin-bottom: 0em;
}

#contactUsSubContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

#contactFormContainer {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

#contactTitleContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#contactUsTitle {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 15px;
  padding-top: 2em;
  max-width: 85%;
}

#contactUsPhotoContainer {
  display: flex;
  flex-direction: column;
}

#contactUsPhoto {
  max-height: 200px;
}

#contactUsBasicInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px 0 0 10px;
  padding-bottom: 0;
}

#contactUsPhoneContainer {
  justify-content: center;
  font-size: 13px;
}

#contactUsPhone {
  font-size: 13px;
}

#contactUsEmailContainer {
  justify-content: center;
  font-size: 13px;
}

#contactUsEmail {
  font-size: 13px;
}

#contactForm {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 250px;
}

#contactNameContainer {
  font-size: 15px;
  padding-bottom: 0.5em;
  display: flex;
  flex-direction: row;
}

#contactName {
  min-width: 100px;
  max-width: 210px;
}


#contactEmailContainer {
  font-size: 15px;
  padding-bottom: 0.5em;
  display: flex;
  flex-direction: row;
}

#contactEmail {
  min-width: 100px;
  max-width: 210px;
}


#contactPhoneContainer {
  font-size: 15px;
  padding-bottom: 0.5em;
  display: flex;
  flex-direction: row;
}

#contactPhone {
  min-width: 100px;
  max-width: 210px;
}


#contactMessageContainer {
  font-size: 15px;
  padding-bottom: 0.5em;
  display: flex;
  flex-direction: row;
}

#contactMessage {
  min-width: 100px;
  max-width: 210px;
}


#contactSubmit {
  max-width: 200px;
  font-size: 15px;
}

#contactFieldContainer {
  width: 100%;
  max-width: 250px;
}

#contactFieldLoading {
  display: flex;
  flex-wrap: row wrap;
  font-size: 13px;
  margin-left: 30px;
}

#contactFieldError {
  display: flex;
  flex-wrap: row wrap;
  font-size: 13px;
  margin-left: 0px;
}

#contactFieldSuccess {
  display: flex;
  flex-wrap: row wrap;
  font-size: 13px;
  margin-left: 0px;
}
/* ------------------------------------------------------------------------- */

/* -------------------------------- Career -------------------------------- */
#careerContainer {
  display: block;
  background-color: white;
  box-shadow: 5px 6px 10px rgb(30, 30, 30, 0.8);
  width: 90%;
  margin: 0 auto;
  z-index: 1;
  position: relative;
  margin-top: 5em;
  margin-bottom: 22em;
}

#careerTitleContainer {
  display: flex;
  justify-content: center;
}

#careerTitle {
  font-size: 20px;
}

#careerSubContainer {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

#careerForm {
  display: flex;
  flex-direction: column;
  float: left;
  padding: 10px;
  width: 80%;
}

#careerPhotoContainer {

}

#careerPhoto {
  max-height: 400px;
}

#careersForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#careerFormLeftSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#careerName {
  width: 100%;
  max-width: 250px;
}

#careerNameContainer {
  display: flex;
  flex-direction: row;
  font-size: 15px;
  padding-bottom: 0.5em;
}

#careerEmail {
  width: 100%;
  max-width: 250px;
}

#careerEmailContainer {
  display: flex;
  flex-direction: row;
  font-size: 15px;
  padding-bottom: 0.5em;
}

#careerPhone {
  width: 100%;
  max-width: 250px;
}

#careerPhoneContainer {
  display: flex;
  flex-direction: row;
  font-size: 15px;
  padding-bottom: 0.5em;
}

#careerFormRightSide {
  display: flex;
  align-items: center;
  padding-left: 50px;
}

#careerResume {
  width: 100%;
  max-width: 250px;
}

#careerResumeContainer {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  padding-bottom: 0.5em;
}

#careerMessage {
  width: 100%;
  max-width: 250px;
}

#careerMessageContainer {
  display: flex;
  flex-direction: row;
  font-size: 15px;
  padding-bottom: 0.5em;
}

#careerSubmit {
  margin-right: 40px;
  max-width: 200px;
  font-size: 15px;
  bottom: 10px;
}

#careersFieldContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 250px;
}

#careersFieldLoading {
  display: flex;
  flex-wrap: row wrap;
  font-size: 14px;
  margin-left: 30px;
}

#careersFieldError {
  display: flex;
  flex-wrap: row wrap;
  font-size: 14px;
  margin-left: 0px;
}

#careersFieldSuccess {
  display: flex;
  flex-wrap: row wrap;
  font-size: 14px;
  margin-left: 0px;
}
/* ------------------------------------------------------------------------- */

/* -------------------------------- Footer -------------------------------- */
#footerContainer {
  display: none;
}

#footerTitle {
  float: left;
  color: white;
  font-size: 15px;
  padding-left: 0.5em;
}

#footerNavContainer {
  display: flex;
  flex-flow: wrap-reverse;
  float: right;
  max-height: 50px;
  width: 125px;
  padding-right: 0.4em;
}

.footerText {
  font-size: 10px;
  color: white;
  padding-right: 0.5em;
}
/* ------------------------------------------------------------------------- */

/* ---------------------------- BottomMenuMobile ---------------------------- */
#bottomMenuMainContainer {
  background-color: white;
  box-shadow: 5px 6px 10px rgb(30, 30, 30, 0.8);
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: stretch;
  position: fixed;
  bottom: 0;
  z-index: 5;
  height: 50px;
  width: 100%;
}

.iconContainers {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 13px;
}

.iconContainers:not(:last-child) {
  height: 100%;
  border-right: 1px solid #c6c6c6;
}

.icons {
  color: black;
}

.bottomMenuText {
  align-items: center;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  text-decoration: uppercase;
  width: 70px;
  margin-left: -22px;
}
/* ------------------------------------------------------------------------- */
}
/* ============================================================================ */
