/* ============================== Desktop Version ============================== */
#mainAppContainer {
  background-image: url(./images/kitchenBackgroundFULL.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 100%;
  height: 720px;
}
/* -------------------------------- TopMenu -------------------------------- */
#menuContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2b3d4f;
  height: 100px;
}

#topMenuTitle {
  float: left;
  color: #CB9D4E;
  font-size: 45px;
  padding-left: 0.7em;
  text-shadow: 0.5px 0.5px black;
}

.topMenuText {
  display: flex;
  float: right;
  flex-direction: row;
  color: #CB9D4E;
  font-size: 25px;
  text-shadow: 0.5px 0.5px black;
  padding-right: 1em;
}
/* ------------------------------------------------------------------------- */

/* ------------------------------- Home Page ------------------------------- */

/* ------------------------------------------------------------------------- */

/* ----------------------------- About Us Page ----------------------------- */
#aboutUsContainer {
  display: block;
  overflow: auto;
  background-color: white;
  width: 90%;
  margin: 0 auto;
  z-index: 1;
  position: relative;
  top: 5.25em;
}

#aboutUsSubContainer {

}

/* ------------------------------------------------------------------------- */

/* ---------------------------- Contact Us Page ---------------------------- */
#contactUsContainer {
  display: block;
  overflow: auto;
  background-color: white;
  width: 90%;
  margin: 0 auto;
  z-index: 1;
  position: relative;
  top: 5.25em;
}

#contactUsSubContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}

#contactUsTitle {
  display: flex;
  justify-content: center;
  padding-top: 2em;
}

#contactForm {
  float: left;
}

#contactPhotoContainer {
  float: right;
}

#contactPhoto {
  max-height: 400px;
}

#contactName {
  font-size: 20px;
  padding-bottom: 200px;
}

#contactEmail {
  font-size: 20px;
  padding-bottom: 1em;
}

#contactMessage {
  font-size: 20px;
  padding-bottom: 1em;
}

#contactSubmit {
  font-size: 20px;
}
/* ------------------------------------------------------------------------- */

/* -------------------------------- Footer -------------------------------- */
#footerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0px;
  height: 50px;
  width: 100%;
  background-color: black;
}

#footerTitle {
  float: left;
  color: white;
  font-size: 20px;
  padding-left: 1em;

}

.footerText {
  float: right;
  color: white;
  padding-right: 1em;
}
/* ------------------------------------------------------------------------- */

/* ============================================================================ */


/* ============================== Tablet Version ============================== */
@media (min-width: 426px) and (max-width: 768px) {

/* -------------------------------- TopMenu -------------------------------- */
#menuContainer {

}

#topMenuTitle {
  font-size: 30px;
  padding-left: 0.7em;
}

.topMenuText {
  display: flex;
  flex-direction: row-reverse;
  font-size: 17px;
  text-shadow: 0.5px 0.5px black;
  padding-right: 0.7em;
}
/* ------------------------------------------------------------------------- */

/* ------------------------------- Home Page ------------------------------- */

/* ------------------------------------------------------------------------- */

/* ----------------------------- About Us Page ----------------------------- */
#aboutUsContainer{

}

#aboutUsSubContainer {

}
/* ------------------------------------------------------------------------- */

/* ---------------------------- Contact Us Page ---------------------------- */

/* ------------------------------------------------------------------------- */

/* -------------------------------- Footer -------------------------------- */
#footerContainer {

}
/* ------------------------------------------------------------------------- */

}
/* ============================================================================ */


/* ============================== Mobile Version ============================== */
@media (max-width: 426px) {

#mainAppContainer {
  background-image: url(./images/kitchen-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 100%;
  height: 600px;
}
/* -------------------------------- TopMenu -------------------------------- */
#menuContainer {

}

#topMenuTitle {
  float: left;
  color: #d89961;
  font-size: 25px;
  padding-left: 0.5em;
  max-height: auto;
}

.topMenuText {
  display: flex;
  flex-direction: column-reverse;
  float: none;
  font-size: 14px;
  padding: 0.3em 0.5em 0 0;
}
/* ------------------------------------------------------------------------- */

/* ------------------------------- Home Page ------------------------------- */

/* ------------------------------------------------------------------------- */

/* ----------------------------- About Us Page ----------------------------- */

/* ------------------------------------------------------------------------- */

/* ---------------------------- Contact Us Page ---------------------------- */
#contactUsContainer {
  display: block;
  overflow: auto;
  background-color: white;
  width: 90%;
  margin: 0 auto;
  z-index: 1;
  position: relative;
  top: 5.25em;
}

#contactUsSubContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

#contactForm {
padding-bottom: 50px;
}

#contactPhotoContainer {

}

#contactPhoto {
  max-height: 400px;
}

#contactName {
  font-size: 15px;
  padding-bottom: 200px;
}

#contactEmail {
  font-size: 15px;
  padding-bottom: 1em;
}

#contactMessage {
  font-size: 15px;
  padding-bottom: 1em;
}

#contactSubmit {
  font-size: 15px;
}

/* ------------------------------------------------------------------------- */

/* -------------------------------- Footer -------------------------------- */
#footerContainer {

}

#footerTitle {

}

.topMenuText {

}
/* ------------------------------------------------------------------------- */

}
/* ============================================================================ */
