/* ============================== Desktop Version ============================== */

/* -------------------------------- TopMenu -------------------------------- */
#menuContainer {
  background-color: #67D861;
  max-height: 200px;
}
/* ------------------------------------------------------------------------- */

/* ------------------------------- Home Page ------------------------------- */

/* ------------------------------------------------------------------------- */

/* ----------------------------- About Us Page ----------------------------- */

/* ------------------------------------------------------------------------- */

/* ---------------------------- Contact Us Page ---------------------------- */

/* ------------------------------------------------------------------------- */

/* -------------------------------- Footer -------------------------------- */
#footerContainer {
  background-color: black;
}
/* ------------------------------------------------------------------------- */

/* ============================================================================ */


/* ============================== Tablet Version ============================== */
@media (min-width: 426px) and (max-width: 768px) {

/* -------------------------------- TopMenu -------------------------------- */
#menuContainer {

}
/* ------------------------------------------------------------------------- */

/* ------------------------------- Home Page ------------------------------- */

/* ------------------------------------------------------------------------- */

/* ----------------------------- About Us Page ----------------------------- */
#aboutUsContainer{

}

#aboutUsSubContainer {

}
/* ------------------------------------------------------------------------- */

/* ---------------------------- Contact Us Page ---------------------------- */

/* ------------------------------------------------------------------------- */

/* -------------------------------- Footer -------------------------------- */
#footerContainer {

}
/* ------------------------------------------------------------------------- */

}
/* ============================================================================ */


/* ============================== Mobile Version ============================== */
@media (max-width: 360px) {

/* -------------------------------- TopMenu -------------------------------- */
#menuContainer {

}
/* ------------------------------------------------------------------------- */

/* ------------------------------- Home Page ------------------------------- */

/* ------------------------------------------------------------------------- */

/* ----------------------------- About Us Page ----------------------------- */

/* ------------------------------------------------------------------------- */

/* ---------------------------- Contact Us Page ---------------------------- */

/* ------------------------------------------------------------------------- */

/* -------------------------------- Footer -------------------------------- */
#footerContainer {

}
/* ------------------------------------------------------------------------- */

}
/* ============================================================================ */
